extends layout

block content
  h1 Details
  #topError #{errorMsg}
  dl
    dt 用户名 
    dd #{data.username}
    br
    dt 学号 
    dd #{data.schoolId}
    br
    dt 电话 
    dd #{data.phone}
    br
    dt 邮箱 
    dd #{data.email}
  button#out 注销