extends layout

block content
  h1 Regist
  form#regist(action="/regist" method="post")
    -
      var labels = {
        "username": "用户名",
        "password": "密码",
        "repeatPsd": "再次输入密码",
        "schoolId": "学号",
        "phone": "电话",
        "email": "邮箱",
      };
    each val, key in data
      label(for=key)= labels[key]
      if key == "password" || key == "repeatPsd"
        input.data(type="password" name=key id=key)
      else
        input.data(type="text" name=key id=key value="#{val}")
      .error #{errorMsg[key]}
      br
    #button
      input(type="submit" value="注册")
      input(type="reset" value="重置")
  button#back 返回
  ul NOTE:
    li 用户名6~18位英文字母、数字或下划线，必须以英文字母开头
    li 密码为6~12位数字、大小写字母、中划线、下划线
    li 学号8位数字，不能以0开头
    li 电话11位数字，不能以0开头
    li 邮箱格式：name@address.com